/* styles.css */
.section {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  height: 15vh;
  border: 1px solid black;
  top: 0; /*Adjust this value as needed */
  /* z-index: 100; */
  position: sticky
}
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-item {
  cursor: pointer;
}
.nav-item:hover {
  color: grey;
}
